.swirl {
  bottom: 0;
  left: 0;
  right: 0;
  top: -10vh;
  margin: auto;
  position: absolute;
  height: 100px;
  cursor: pointer;
}

.splash.logo {
  position: fixed;
  width: 38vw;
  left: 0;
  top: 0;
  height: 100vh;
}

.swirl:hover {
  -webkit-animation: spin 2s ease-in-out;
  -moz-animation: spin 2s ease-in-out;
  animation: spin 2s ease-in-out;
}
.mobile {
  -webkit-animation: spin 2s ease-in-out;
  -moz-animation: spin 2s ease-in-out;
  animation: spin 2s ease-in-out;
}
.mobile:hover {
  -webkit-animation: spin 2s ease-in-out;
  -moz-animation: spin 2s ease-in-out;
  animation: spin 2s ease-in-out;
}

.mobile:active, .swirl:active {
  -webkit-animation: spin-1 2s ease-in-out;
  -moz-animation: spin-1 2s ease-in-out;
  animation: spin-1 2s ease-in-out;
}


@-moz-keyframes spin {
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(360deg);
  }
}

@-moz-keyframes spin-1 {
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes spin-1 {
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin-1 {
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(360deg);
  }
}

.mobile {
  width: 90px;
  height: 90px;
}


/* ///////  MEDIA QUERIES /////// */

@media (max-width: 600px) {
.splash.logo {
  width: 100vw;
  z-index: 20;
  background: white;
  height: 60px;
  left: 38%;
  top: 9rem;

  transform: translate(0%, -50%);
}
}
