.logo {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0vh;
  margin: auto;
  position: absolute;
  height: 100px;
  cursor: pointer;
}

.logo:hover {
  animation: spin 2s ease-in-out;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.logo-mobile {
  width: 90px;
  height: 90px;
}


/* ///////  MEDIA QUERIES /////// */

@media (max-width: 600px) {
.splash .logo {
  width: 100vw;
  z-index: 20;
  background: white;
  height: 60px;
  left: 38%;
  top: 9rem;

  transform: translate(0%, -50%);
}
}
