.card-backdrop {
  background-color: #f7f7f2;
  padding: 1.5rem;
  max-width: 65rem;
  width: 60%
}

.project-card-ul {
  margin: 0;
  margin-bottom: 1rem;

}

.icons {
  display: flex;
  justify-content: center;
}

.fas,
.fab {
  color: rgba(0, 0, 0, 0.2);
  font-size: 1.8em;
  margin: 0 5px;
}

.fas:hover,
.fab:hover {
  background-color: #f7f7f2;
  border-radius: 50%;
  color: black;
}
.fa-video:hover {
  width: 90%;
  height: 100%;
}

strong {
  font-weight: 600;
}


/* ///////////MEDIA QUERIES/////////// */

@media (max-width: 1299px) {
 .card-backdrop {
  width: 75%;
  }
}

@media (max-width: 1024px) {
  .card-backdrop {
    width: 75%;
  }
}


@media (max-width: 600px) {
  .projectsContainer.project {
    margin-top: 17rem;
    overflow-y: auto;
    height: 99vh;
    /* margin-bottom: 8.5rem */

  }

  .card-backdrop {
    width: 80%;
    margin: auto;
    margin-bottom: 8.5rem
  }
}


