.projects {
display: grid;
grid-template-columns: repeat(2, 1fr);
gap: 14px 18px;
overflow-y: auto;
align-content:flex-start;
width: 80%;
scroll-behavior: smooth;
}

.project-card {
  height: unset;
  width: 100%;
}
.project-card.whitedoorescape {
  border: 1px solid grey;
}
.project-card:hover {
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
}
