.footerContainer {
  position: fixed;
  display: flex;
  width: 100vw;
  bottom: 0;
  justify-content: center;
  height: 10rem;
  padding-top: 2rem;
  background: #fff;
  z-index: 100;
}

.small.fas,
.small.fab {
  font-size: 2rem;
  color: black;
  margin: 0 1rem;
}

.small.fas:hover,
.small.fab:hover {
  color: grey;
  background-color: white;
}
.footer-contact {
  background: none;
  border: none;
}
